<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Vehicle</th>
      <th>Status</th>
      <th>Command</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let v of vehicles">
      <td> {{v.Id}} </td>
      <td *ngIf="v.Available">Available</td> 
      <td *ngIf="!v.Available">Unavailable</td>
      <td *ngIf="v.Available"><button (click)="DisableVehicle(v.Id)" class="btn btn-secondary">Disable</button></td>
      <td *ngIf="!v.Available"><button  (click)="EnableVehicle(v.Id)" class="btn btn-secondary">Enable</button></td>
    </tr>
  </tbody>
</table>