<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" href="#">{{ title }}</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" [routerLink]="['/home']">Home</a></li>
          <li *ngIf="!IsLoggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
          <li *ngIf="IsLoggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/logout']">Logout</a></li>
          <li *ngIf="!IsLoggedIn()"  class="nav-item"><a class="nav-link" [routerLink]="['/register']">Register</a></li>
    </ul>
  </div>
  <div class="topcorner">
    <label>{{username}} - {{role}}</label>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"></li>
          <li *ngIf="IsAdmin()" class="nav-item"><a class="nav-link" [routerLink]="['/addvehicletype']">Add Vehicle Type</a></li>
          <li *ngIf="IsAdmin()" class="nav-item"><a class="nav-link" [routerLink]="['/administration']">Administration</a></li>
          <li *ngIf="IsManager()" class="nav-item"><a class="nav-link" [routerLink]="['/addservice']">Add Service</a></li>
          <li *ngIf="IsManager()" class="nav-item"><a class="nav-link" [routerLink]="['/addoffice']">Add Office</a></li>
          <li *ngIf="IsManager()" class="nav-item"><a class="nav-link" [routerLink]="['/addvehicle']">Add Vehicle</a></li>
          <li *ngIf="IsManager()" class="nav-item"><a class="nav-link" [routerLink]="['/management']">Management</a></li>      
    </ul>
  </div>
</nav>

