ul {
     padding:0; width:75%; margin:20px auto
}
li {
     display:inline;
}

.tn{
 margin:6px 6px;
 border: 4px solid #eee;
 box-shadow:#555 1px 1px 8px 1px;
 cursor: pointer;
 width:256px; 
 height:192px; 
}

.containercl {
    margin:6px 6px;
    width:256px; 
    height:192px; 
}
