ul {
     padding:0; width:75%; margin:20px auto
}
li {
     display:inline;
}

.tn{
 margin:6px 6px;
 border: 4px solid #eee;
 box-shadow:#555 1px 1px 8px 1px;
 cursor: pointer;
 width:256px; 
 height:192px; 
}

.containercl {
    margin:6px 6px;
    width:256px; 
    height:192px; 
}

.pagination {
    display: inline-block;
    border: 2px solid grey;
    border-radius: 8px;
}

.pagination a {
    cursor: pointer;
    color: black;
    float: left;
    padding: 2px 14px;
    text-decoration: none;
}

a.active {
    font-weight: bolder;
    border: 1px solid green;
    background-color: rgb(188, 255, 188);
    color: white;
}

a{
    background-color: white;
    font-size: 14pt;
}

select{
    width: 100px;
}