ul {
  width: 100%;
  margin: 25px auto;
}

li {
     display: inline;
}

.paginationUl{
    text-align: center;
    margin-bottom: 50px;
}

.tn{
 margin: 15px;
 margin-bottom: 50px;
 border: 2px groove grey;
 box-shadow:#555 1px 1px 6px 1px;
 cursor: pointer;
 width: 320px; 
 height: 240px; 
 display:inline-block
}

.divs{
     display:inline-block;
     position: relative;
     text-align: center;
     color: black;
}

.divText {
    color: black;
    font-size: 12pt;
    font-weight: lighter;
    position: absolute;
    top: -16px;
    left: 16px;
    border-bottom: 1px solid black;
}

.pagination {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
}

.pagination a {
    cursor: pointer;
    color: black;
    float: left;
    padding: 2px 14px;
    text-decoration: none;
}

a.active {
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: normal;    
    background-color: rgba(197, 197, 197, 0.5);
}

a.active:hover{
    font-weight: bold;
}

a.inactive:hover{
    font-weight: bold;
}

a.inactive {
    border: 1px solid grey;
    background-color: white;
}

a{
    font-size: 14pt;
}

select{
    width: 100px;
}