<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Service</th>
      <th>Status</th>
      <th>Command</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let s of services">
      <td> {{s.Name}} </td>
      <td *ngIf="s.Verified">Verified</td> 
      <td *ngIf="!s.Verified">Not Verified</td>
      <td *ngIf="s.Verified"><button  (click)="UnVerify(s.Id)" class="btn btn-secondary">UnVerify</button></td>
      <td *ngIf="!s.Verified"><button (click)="Verify(s.Id)" class="btn btn-secondary">Verify</button></td>
    </tr>
  </tbody>
</table>