<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" enctype="multipart/form-data">
    <table>
      <tr>
          <td>
              <label for = "Model">Model:</label>
          </td>
          <td>
            <input type="text" name="model" id="Model" ngModel/>
          </td>      
      </tr>
      <tr>
          <td>
              <label for = "Manufacturer">Manufacturer:</label>
            </td> 
          <td>
              <input type="text" name="manufacturer" id="Manufacturer" ngModel/>
          </td>
      </tr>
      <tr>
          <td>
              <label for = "Year">Year:</label>
          </td>
          <td>
            <input type="number" name="year" id="Year" ngModel/>
          </td>      
      </tr>
      <tr>
          <td>
              <label for = "Description">Description:</label>
            </td> 
          <td>
              <input type="text" name="description" id="Description" ngModel/>
          </td>
      </tr>
      <tr>
        <td>
          <input class="button button1" type="submit" value="Create"/>
        </td>          
      </tr>
    </table>
  <br>
</form>
</div>