<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Vehicle</th>
      <th>New Price</th>
      <th>Command</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <select style="width: 100%" name="Vehicles" id="VehicleId" [(ngModel)]="VehicleId">
            <option *ngFor = "let vehicle of vehicles" value={{vehicle.Id}} >{{vehicle.Id}} {{vehicle.Model}} {{vehicle.Manufacturer}} </option>
        </select>
      </td>  
      <td><input type="text" name="newPrice" id="NewPrice" [(ngModel)]="NewPrice"></td>
      <td><button  (click)="ChangeVehiclePrice()" class="btn btn-secondary">Change Price</button></td>
    </tr>
  </tbody>
</table>
<table class="table table-sm" width=50%>
    <thead class="thead-inverse">
        <tr>
          <th>Vehicle</th>
          <th>Current Price</th>
        </tr>
    </thead>
      <tbody>
        <tr *ngFor = "let p of pricelistitems" >
          <td>{{p.VehicleId}}</td>  
          <td>{{p.Price}}</td>
        </tr>
      </tbody>
</table>